fastapi
uvicorn[standard]
starlette
httpx
requests
sse-starlette
fastapi-users[sqlalchemy]
aiosqlite
asyncpg
pydantic[email]
uuid
haversine
cachetools
redis==5.0.8
hiredis==3.0.0
openai
pillow
aiosmtplib
jinja2
pytest
pytest-asyncio